<div class="related">
  {% assign number_so_far = 0 %}
  {% for post in site.posts %}
  {% unless post.title == page.title or (page.series != null and page.series == post.series)%}
  {% assign already_used = false %}
  {% unless number_so_far >= site.related.max_number %}
  {% for tag in page.tags %}
  {% unless already_used or site.related.excluded_tags contains tag %}
  {% if post.tags contains tag %}
  {% assign already_used = true %}
  {% assign number_so_far = number_so_far | plus:1 %}
  {% if number_so_far == 1 %}
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% endif %}
    <li>
      <h4>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <small><span class="date">{{ post.date | date_to_string }} in</span> <span class="tag">{{ tag }}</span></small>
      </h4>
    </li>
    {% endif %}
    {% endunless %}
    {% endfor %}
    {% endunless %}
    {% endunless %}
    {% endfor %}
    {% if number_so_far > 0 %}
  </ul>
  {% endif %}
</div>
