---
layout: default
isPost: true
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}{% include artur.html %}</span>
  {% include series.html %}
  {{ content }}
</div>

<div class="tags-line">
  <p>Tags:
    {% for tag in page.tags %} {% include tag_link.html %}, {% endfor %}
    <span class="tag">emacs</span></p>
</div>

{% include share.html %}

{% include related.html %}

{% include post_ad.html %}

{% include comments.html %}

{% include gratipay.html %}
