---
layout: default
isPost: true
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}{% include artur.html %}</span>
  {% include series.html %}
  {{ content }}
</div>

<div class="tags-line">
  <p>Tags:
    {% for tag in page.tags %} {% include tag_link.html %}, {% endfor %}
    <span class="tag">emacs</span></p>
</div>

{% include share.html %}

{% include next_prev_post.html %}

{% include related.html %}

<div class="post-ad-mobile centered-image" style="width:300px">{% include gratipay.html %}</div>

{% include comments.html %}
